body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile-container {
    text-align: center;
    margin-bottom: 20px; /* Add space below the image */
}

.profile-pic {
    width: 120px; /* Default size */
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

/* For phones and small devices */
@media only screen and (max-width: 600px) {
    .profile-pic {
        width: 100px; /* Smaller size for phones */
        height: 100px;
    }
}

/* For tablets and medium devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .profile-pic {
        width: 120px; /* Medium size for tablets */
        height: 120px;
    }
}

/* For large screens like PCs */
@media only screen and (min-width: 1025px) {
    .profile-pic {
        width: 150px; /* Larger size for PCs */
        height: 150px;
    }
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

header h1, header h2, header h3 {
    margin: 10px 0; /* Adjust margins for spacing */
}

.download-link {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin: 0px 0; /* Adds some vertical spacing */
}


.download-link a {
    text-decoration: none;
    color: #070a0f;
    padding: 10px 20px;
    border-radius: 5px;
}

section {
    margin: 20px 0;
}

section h2 {
    margin-top: 0;
    border-bottom: 2px solid #174aaa;
    padding-bottom: 10px;
    color: #174aaa;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

a {
    color: #174aaa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
